<div id="drinkSelectionContainer">
    <div id="drinkSelectionSearchContainer" md-whiteframe="{{height}}"
         ng-init="height = 3" ng-mouseenter="height = 6" ng-mouseleave="height = 3" ng-focus="height = 6">
        <i class="material-icons searchIcon">search</i>
        <input id="drinkSelectionSearch" type="text" placeholder="Search" ng-model="searchValue"/>
    </div>
    <div class="drinkSelector" ng-repeat="drink in testArray | filter:{$ctrl.drink: drink.team} | filter:searchValue">
        <div class="drinkSelectorImageContainer" ng-class="drink.color">
            <img class="drinkSelectorImage" src="img/absolut.png"/>
        </div>
        <div class="drinkSelectorDescription">
            <div class="descriptorHeader">
                <span>Name</span>
            </div>
            <div class="descriptorContent">
                <span>{{$ctrl.drink.name}}</span>
            </div>
        </div>
    </div>
</div>