@media (max-width: 830px) {
    .navBarButton{
        display: none;
    }

    #NavBarMenu, #navBarLogo{
        display: inline-block;
    }
    
    #slideOutNavBar{
        display: flex;
    }
} 