<div id="NavBar">
  <span id="NavBarMenu" class="navBarButton" ng-click="openMenu()"><i class="material-icons">menu</i></span>
  <span id="chooseDrink" class="navBarButton" ng-click="currentPage = 'selection'">Choose a drink</span>
  <span id="createDrink" class="navBarButton" ng-click="currentPage = 'manageDrinks'">Manage drinks</span>
  <span id="addBottles" class="navBarButton" ng-click="currentPage = 'manageBottles'">Manage bottles</span>
</div>
<div id="slideOutNavBar">
  <span id="chooseDrink" class="slideNavBarButton" ng-click="currentPage= 'selection'">Choose a drink</span>
  <span id="createDrink" class="slideNavBarButton" ng-click="currentPage = 'manageDrinks'">Manage drinks</span>
  <span id="editDrink" class="slideNavBarButton" ng-click="currentPage = 'manageBottles'">Manage bottles</span>
</div>
<div id="appContentContainer" ng-switch="currentPage">
  <div class="contentDiv" ng-switch-when="selection">
    <drink-selection></drink-selection>
  </div>
  <div class="contentDiv" ng-switch-when="manageDrinks">
    <drinks></drinks>
  </div>
  <div class="contentDiv">
    <ANY ng-switch-when="createDrink">...</ANY>
  </div>
  <div class="contentDiv">
    <ANY ng-switch-when="editDrink">...</ANY>
  </div>
  <div class="contentDiv">
    <ANY ng-switch-when="addBottle">...</ANY>
  </div>
  <div class="contentDiv">
    <ANY ng-switch-when="editBottle">...</ANY>
  </div>
</div>