<div id="NavBar">
  <span id="NavBarMenu" class="navBarButton" ng-click="$ctrl.openMenu()">
    <i class="fa fa-bars"></i>
  </span>
  <span id="chooseDrink" class="navBarButton" ng-class="($ctrl.currentPage == 'selection')? 'selected' : ''" ng-click="$ctrl.changePage('selection')">Choose a drink</span>
  <span id="createDrink" class="navBarButton" ng-class="($ctrl.currentPage == 'manageDrinks')? 'selected' : ''" ng-click="$ctrl.changePage('manageDrinks')">Manage drinks</span>
  <span id="addBottles" class="navBarButton" ng-class="($ctrl.currentPage == 'manageBottles')? 'selected' : ''" ng-click="$ctrl.changePage('manageBottles')">Manage bottles</span>
</div>
<div id="slideOutNavBar">
  <span id="chooseDrink" class="slideNavBarButton" ng-click="$ctrl.changePage('selection')">Choose a drink</span>
  <span id="createDrink" class="slideNavBarButton" ng-click="$ctrl.changePage('manageDrinks')">Manage drinks</span>
  <span id="editDrink" class="slideNavBarButton" ng-click="$ctrl.changePage('manageBottles')">Manage bottles</span>
</div>
<div id="appContentContainer" ng-switch="$ctrl.currentPage">
  <div class="contentDiv left" ng-switch-when="selection">
    <drink-selection drinks-list="$ctrl.testDrinks"></drink-selection>
  </div>
  <div class="contentDiv" ng-class="$ctrl.sideOfCenter" ng-switch-when="manageDrinks">
    <drinks drinks-list="$ctrl.testDrinks"></drinks>
  </div>
  <div class="contentDiv right" ng-switch-when="createDrink">
    <ANY>...</ANY>
  </div>
</div>