// main: app.less
@zHeight: 1; /* Animation for items on enter */
@keyframes enter {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
/* Animation for items on leave */
@keyframes leave {
  from {
    position: absolute;
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    position: absolute;
    transform: translateX(50%);
    opacity: 0;
  }
}
/* Animation for drinks on search */
@keyframes drinkFlip {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(90deg);
  }
}
