// out: ../css/main.css, sourcemap: false, compress: true
@import (reference) "../materialColors/materialCols.less";
@navbarHeight: 80px;
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/MaterialIcons.eot");
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons'), url("../../fonts/MaterialIcons.ttf") format('truetype');
}

body,
html {
  background-color: @clr-grey-100;
  height: 100%;
  font-family: roboto;
  transition: all 0.5s;
}

::-webkit-scrollbar {
  width: 0;
}

#drinkSelection {
  width: 50px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

#NavBar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: @navbarHeight;
  background-color: @clr-blue-400;
  box-shadow: 0 5px 5px 0 @clr-grey-400;
  z-index: 100;
}

#NavBarMenu {
  display: none;
  margin-left: 0;
  width: 100px;
}

#NavBarMenu i {
  font-size: 48px;
  line-height: 80px;
}

.navBarButton {
  width: 150px;
  height: @navbarHeight;
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  line-height: @navbarHeight;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, @clr-blue-500 50%, @clr-blue-400 50%);
  color: @clr-white;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  transition: background-position linear 0.2s;
  white-space: nowrap;
  outline: none;
}

.navBarButton:hover {
  background-position: 0 -100%;
}

#slideOutNavBar {
  position: fixed;
  top: 80px;
  left: -300px;
  display: none;
  flex-direction: column;
  width: 300px;
  min-height: 100%;
  padding-top: 5px;
  height: 455px;
  background-color: @clr-blue-400;
  z-index: 1000;
  transition: all ease-out 0.2s;
}

.slideNavBarButton {
  width: 100%;
  height: @navbarHeight;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  line-height: @navbarHeight;
  background-size: 200% 100%;
  background-image: linear-gradient(to left, @clr-blue-500 50%, @clr-blue-400 50%);
  color: @clr-white;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  transition: background-position linear 0.2s;
  white-space: nowrap;
}

.slideNavBarButton:hover {
  background-position: -100% 100%;
}

#navBarLogo {
  width: 300px;
  background-image: none;
  font-size: 30px;
  margin-left: auto;
  cursor: default;
  font-weight: 200;
}

#navBarLogo i:hover {
  animation: pour 1s linear;
}

#appContentContainer {
  width: 100%;
}

.contentDiv.ng-enter {
    animation: enter .5s;
}
.contentDiv.ng-leave {
  animation: leave .5s;
}
