<<<<<<< HEAD:public_html/stylesheets/less/navbarSmall.less
// out: ../css/navBarSmall.css, sourcemap: false, compress: false
=======
// out: ../css/navBarSmall.css, sourcemap: false, compress: true

>>>>>>> 1a16d92422d173b7c4679d29f66d054a21b0be13:app/stylesheets/less/navbarSmall.less

@media (max-width: 830px) {
    .navBarButton{
        display: none;
    }

    #NavBarMenu, #navBarLogo{
        display: inline-block;
    }

    #slideOutNavBar{
        display: flex;
    }
}
