<div id="createDrinkFormContainer">
  <h1>Creating drink:</h1>
  <div id="createDrinkForm">
    <form name="createDrink">
      <md-input-container class="drinkNameInput createDrinkInput">
        <label>Drink Name</label>
        <input ng-model="$ctrl.drink.name">
      </md-input-container>
      <div ng-repeat="bottle in $ctrl.bottles">
        <md-input-container class="drinkIngredientInput createDrinkInput">
          <label>Ingredient {{$index + 1}}</label>
          <md-select ng-model="$ctrl.drink.ingredients[$index]">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="bottle in $ctrl.bottles" ng-value="bottle.name">
              {{bottle.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="ingredientAmountInput createDrinkInput">
          <label>Amount (ml)</label>
          <input ng-model="$ctrl.drink.amounts[$index]" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
        </md-input-container>
      </div>
      <div class="imageSelection createDrinkInput">
        <input class="ng-hide" id="input-file-id" multiple type="file" ng-model="$ctrl.drink.image" />
        <label id="imageSelectionButton" for="input-file-id" class="md-button md-raised md-primary">Upload Image</label>
      </div>
      <div class="formSubmitButtons">
        <div>
          <input class="ng-hide" type="reset" />
          <label id="cancelButton" class="md-button md-raised md-primary">Cancel</label>
        </div>
        <div>
          <input class="ng-hide" type="submit" />
          <label ng-click="$ctrl.submit()" id="submitButton" class="md-button md-raised md-primary">Submit</label>
        </div>
      </div>
    </form>
  </div>
</div>
